body{
    background: black;
}
.navbar {
    background-color: rgb(169, 55, 156);
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 2em "Times New Roman";
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.waves{
    position: relative; /* Make sure the container is positioned */
    overflow: hidden;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,700 C 0,700 0,140 0,140 C 68.82307692307694,108.06923076923077 137.64615384615388,76.13846153846154 227,89 C 316.3538461538461,101.86153846153846 426.2384615384615,159.5153846153846 501,188 C 575.7615384615385,216.4846153846154 615.4000000000001,215.8 686,189 C 756.5999999999999,162.2 858.1615384615384,109.28461538461536 956,95 C 1053.8384615384616,80.71538461538464 1147.9538461538461,105.06153846153845 1228,119 C 1308.0461538461539,132.93846153846155 1374.023076923077,136.46923076923076 1440,140 C 1440,140 1440,700 1440,700 Z");
    }

    25% {
        d: path("M 0,700 C 0,700 0,140 0,140 C 75.55897435897435,153.33846153846153 151.1179487179487,166.67692307692306 223,160 C 294.8820512820513,153.32307692307694 363.08717948717947,126.63076923076925 446,118 C 528.9128205128205,109.36923076923075 626.5333333333333,118.79999999999998 703,127 C 779.4666666666667,135.20000000000002 834.7794871794872,142.16923076923078 927,141 C 1019.2205128205128,139.83076923076922 1148.348717948718,130.52307692307693 1240,129 C 1331.651282051282,127.47692307692307 1385.8256410256408,133.73846153846154 1440,140 C 1440,140 1440,700 1440,700 Z");
    }

    50% {
        d: path("M 0,700 C 0,700 0,140 0,140 C 95.48717948717947,133.41794871794872 190.97435897435895,126.83589743589741 278,143 C 365.02564102564105,159.1641025641026 443.58974358974365,198.07435897435897 511,190 C 578.4102564102564,181.92564102564103 634.6666666666667,126.86666666666666 704,108 C 773.3333333333333,89.13333333333334 855.7435897435897,106.45897435897436 938,124 C 1020.2564102564103,141.54102564102564 1102.3589743589744,159.2974358974359 1186,162 C 1269.6410256410256,164.7025641025641 1354.8205128205127,152.35128205128206 1440,140 C 1440,140 1440,700 1440,700 Z");
    }

    75% {
        d: path("M 0,700 C 0,700 0,140 0,140 C 90.5205128205128,127.0974358974359 181.0410256410256,114.19487179487179 264,114 C 346.9589743589744,113.80512820512821 422.3564102564103,126.31794871794872 493,134 C 563.6435897435897,141.68205128205128 629.5333333333334,144.53333333333336 702,150 C 774.4666666666666,155.46666666666664 853.5102564102563,163.54871794871795 935,171 C 1016.4897435897437,178.45128205128205 1100.4256410256412,185.27179487179487 1185,180 C 1269.5743589743588,174.72820512820513 1354.7871794871794,157.36410256410255 1440,140 C 1440,140 1440,700 1440,700 Z");
    }

    100% {
        d: path("M 0,700 C 0,700 0,140 0,140 C 68.82307692307694,108.06923076923077 137.64615384615388,76.13846153846154 227,89 C 316.3538461538461,101.86153846153846 426.2384615384615,159.5153846153846 501,188 C 575.7615384615385,216.4846153846154 615.4000000000001,215.8 686,189 C 756.5999999999999,162.2 858.1615384615384,109.28461538461536 956,95 C 1053.8384615384616,80.71538461538464 1147.9538461538461,105.06153846153845 1228,119 C 1308.0461538461539,132.93846153846155 1374.023076923077,136.46923076923076 1440,140 C 1440,140 1440,700 1440,700 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,700 C 0,700 0,280 0,280 C 82.11538461538461,273.8717948717949 164.23076923076923,267.7435897435898 240,281 C 315.7692307692308,294.2564102564102 385.19230769230774,326.89743589743586 466,318 C 546.8076923076923,309.10256410256414 639,258.66666666666663 712,237 C 785,215.33333333333334 838.8076923076924,222.4358974358974 919,239 C 999.1923076923076,255.5641025641026 1105.769230769231,281.5897435897436 1197,290 C 1288.230769230769,298.4102564102564 1364.1153846153845,289.2051282051282 1440,280 C 1440,280 1440,700 1440,700 Z");
    }

    25% {
        d: path("M 0,700 C 0,700 0,280 0,280 C 87.4897435897436,283.8282051282051 174.9794871794872,287.65641025641025 245,284 C 315.0205128205128,280.34358974358975 367.57179487179485,269.2025641025641 441,264 C 514.4282051282051,258.7974358974359 608.7333333333333,259.5333333333333 697,268 C 785.2666666666667,276.4666666666667 867.4948717948719,292.66410256410256 950,306 C 1032.5051282051281,319.33589743589744 1115.2871794871796,329.8102564102564 1197,325 C 1278.7128205128204,320.1897435897436 1359.35641025641,300.0948717948718 1440,280 C 1440,280 1440,700 1440,700 Z");
    }

    50% {
        d: path("M 0,700 C 0,700 0,280 0,280 C 81.81538461538463,280.36410256410255 163.63076923076926,280.7282051282051 237,280 C 310.36923076923074,279.2717948717949 375.29230769230765,277.4512820512821 448,271 C 520.7076923076924,264.5487179487179 601.2,253.4666666666667 685,260 C 768.8,266.5333333333333 855.9076923076923,290.68205128205125 944,287 C 1032.0923076923077,283.31794871794875 1121.1692307692308,251.8051282051282 1204,246 C 1286.8307692307692,240.1948717948718 1363.4153846153845,260.0974358974359 1440,280 C 1440,280 1440,700 1440,700 Z");
    }

    75% {
        d: path("M 0,700 C 0,700 0,280 0,280 C 55.15897435897435,295.9589743589744 110.3179487179487,311.9179487179487 197,319 C 283.6820512820513,326.0820512820513 401.88717948717954,324.28717948717946 485,317 C 568.1128205128205,309.71282051282054 616.1333333333334,296.93333333333334 696,302 C 775.8666666666666,307.06666666666666 887.5794871794869,329.9794871794872 973,318 C 1058.420512820513,306.0205128205128 1117.548717948718,259.14871794871794 1191,247 C 1264.451282051282,234.85128205128206 1352.225641025641,257.425641025641 1440,280 C 1440,280 1440,700 1440,700 Z");
    }

    100% {
        d: path("M 0,700 C 0,700 0,280 0,280 C 82.11538461538461,273.8717948717949 164.23076923076923,267.7435897435898 240,281 C 315.7692307692308,294.2564102564102 385.19230769230774,326.89743589743586 466,318 C 546.8076923076923,309.10256410256414 639,258.66666666666663 712,237 C 785,215.33333333333334 838.8076923076924,222.4358974358974 919,239 C 999.1923076923076,255.5641025641026 1105.769230769231,281.5897435897436 1197,290 C 1288.230769230769,298.4102564102564 1364.1153846153845,289.2051282051282 1440,280 C 1440,280 1440,700 1440,700 Z");
    }
}
.path-2 {
    animation: pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
    0% {
        d: path("M 0,700 C 0,700 0,420 0,420 C 71.87692307692308,411.6589743589744 143.75384615384615,403.31794871794875 216,402 C 288.24615384615385,400.68205128205125 360.86153846153854,406.3871794871794 456,410 C 551.1384615384615,413.6128205128206 668.8,415.1333333333334 764,401 C 859.2,386.8666666666666 931.9384615384618,357.07948717948716 1001,374 C 1070.0615384615382,390.92051282051284 1135.4461538461537,454.548717948718 1208,470 C 1280.5538461538463,485.451282051282 1360.2769230769231,452.72564102564104 1440,420 C 1440,420 1440,700 1440,700 Z");
    }

    25% {
        d: path("M 0,700 C 0,700 0,420 0,420 C 82.67692307692309,441.18461538461537 165.35384615384618,462.36923076923074 252,463 C 338.6461538461538,463.63076923076926 429.2615384615383,443.70769230769235 506,442 C 582.7384615384617,440.29230769230765 645.6000000000001,456.8 710,451 C 774.3999999999999,445.2 840.3384615384614,417.0923076923077 929,409 C 1017.6615384615386,400.9076923076923 1129.0461538461539,412.8307692307692 1218,418 C 1306.9538461538461,423.1692307692308 1373.476923076923,421.5846153846154 1440,420 C 1440,420 1440,700 1440,700 Z");
    }

    50% {
        d: path("M 0,700 C 0,700 0,420 0,420 C 93.5230769230769,401.9153846153846 187.0461538461538,383.83076923076925 270,403 C 352.9538461538462,422.16923076923075 425.3384615384616,478.5923076923077 495,467 C 564.6615384615384,455.4076923076923 631.5999999999999,375.8 719,368 C 806.4000000000001,360.2 914.2615384615387,424.20769230769224 991,451 C 1067.7384615384613,477.79230769230776 1113.353846153846,467.3692307692308 1183,456 C 1252.646153846154,444.6307692307692 1346.323076923077,432.3153846153846 1440,420 C 1440,420 1440,700 1440,700 Z");
    }

    75% {
        d: path("M 0,700 C 0,700 0,420 0,420 C 101.40000000000003,403.6717948717949 202.80000000000007,387.34358974358975 280,394 C 357.19999999999993,400.65641025641025 410.19999999999993,430.29743589743595 485,427 C 559.8000000000001,423.70256410256405 656.4000000000001,387.46666666666664 729,385 C 801.5999999999999,382.53333333333336 850.1999999999998,413.83589743589744 920,422 C 989.8000000000002,430.16410256410256 1080.8,415.18974358974356 1171,411 C 1261.2,406.81025641025644 1350.6,413.4051282051282 1440,420 C 1440,420 1440,700 1440,700 Z");
    }

    100% {
        d: path("M 0,700 C 0,700 0,420 0,420 C 71.87692307692308,411.6589743589744 143.75384615384615,403.31794871794875 216,402 C 288.24615384615385,400.68205128205125 360.86153846153854,406.3871794871794 456,410 C 551.1384615384615,413.6128205128206 668.8,415.1333333333334 764,401 C 859.2,386.8666666666666 931.9384615384618,357.07948717948716 1001,374 C 1070.0615384615382,390.92051282051284 1135.4461538461537,454.548717948718 1208,470 C 1280.5538461538463,485.451282051282 1360.2769230769231,452.72564102564104 1440,420 C 1440,420 1440,700 1440,700 Z");
    }
}
.path-3 {
    animation: pathAnim-3 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-3 {
    0% {
        d: path("M 0,700 C 0,700 0,560 0,560 C 66.34358974358975,547.0923076923077 132.6871794871795,534.1846153846154 228,528 C 323.3128205128205,521.8153846153846 447.5948717948718,522.3538461538461 520,543 C 592.4051282051282,563.6461538461539 612.9333333333333,604.4000000000001 692,596 C 771.0666666666667,587.5999999999999 908.6717948717949,530.0461538461539 1001,532 C 1093.3282051282051,533.9538461538461 1140.3794871794871,595.4153846153846 1206,610 C 1271.6205128205129,624.5846153846154 1355.8102564102564,592.2923076923078 1440,560 C 1440,560 1440,700 1440,700 Z");
    }

    25% {
        d: path("M 0,700 C 0,700 0,560 0,560 C 100.5102564102564,586.6128205128206 201.0205128205128,613.2256410256412 281,607 C 360.9794871794872,600.7743589743588 420.42820512820526,561.7102564102563 492,565 C 563.5717948717947,568.2897435897437 647.2666666666665,613.9333333333333 721,602 C 794.7333333333335,590.0666666666667 858.5051282051284,520.5564102564103 939,510 C 1019.4948717948716,499.4435897435897 1116.7128205128204,547.8410256410257 1203,566 C 1289.2871794871796,584.1589743589743 1364.64358974359,572.0794871794872 1440,560 C 1440,560 1440,700 1440,700 Z");
    }

    50% {
        d: path("M 0,700 C 0,700 0,560 0,560 C 74.99743589743588,532.4076923076923 149.99487179487176,504.8153846153846 230,511 C 310.00512820512824,517.1846153846154 395.0179487179488,557.1461538461539 466,572 C 536.9820512820512,586.8538461538461 593.9333333333333,576.5999999999999 681,570 C 768.0666666666667,563.4000000000001 885.248717948718,560.4538461538463 967,550 C 1048.751282051282,539.5461538461537 1095.0717948717947,521.5846153846153 1168,522 C 1240.9282051282053,522.4153846153847 1340.4641025641026,541.2076923076924 1440,560 C 1440,560 1440,700 1440,700 Z");
    }

    75% {
        d: path("M 0,700 C 0,700 0,560 0,560 C 95.13333333333335,539.123076923077 190.2666666666667,518.2461538461538 275,533 C 359.7333333333333,547.7538461538462 434.0666666666667,598.1384615384616 493,592 C 551.9333333333333,585.8615384615384 595.4666666666667,523.2 684,512 C 772.5333333333333,500.8 906.0666666666668,541.0615384615385 1003,547 C 1099.9333333333332,552.9384615384615 1160.2666666666667,524.5538461538462 1227,521 C 1293.7333333333333,517.4461538461538 1366.8666666666668,538.7230769230769 1440,560 C 1440,560 1440,700 1440,700 Z");
    }

    100% {
        d: path("M 0,700 C 0,700 0,560 0,560 C 66.34358974358975,547.0923076923077 132.6871794871795,534.1846153846154 228,528 C 323.3128205128205,521.8153846153846 447.5948717948718,522.3538461538461 520,543 C 592.4051282051282,563.6461538461539 612.9333333333333,604.4000000000001 692,596 C 771.0666666666667,587.5999999999999 908.6717948717949,530.0461538461539 1001,532 C 1093.3282051282051,533.9538461538461 1140.3794871794871,595.4153846153846 1206,610 C 1271.6205128205129,624.5846153846154 1355.8102564102564,592.2923076923078 1440,560 C 1440,560 1440,700 1440,700 Z");
    }
}
.heading {
    position: absolute;
    top: 37%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.image {
    position: absolute;
    top: 40%;
    right: 13px;
    transform: translateY(-50%);
    max-height: 71%;
    filter: hue-rotate(145deg);
}